/* Colours
 * =======
 */
body {
    background: #eee;
}

:root {
    --wald-grid-field-border-color: #888;
    --wald-grid-field-background: #fff;
    --wald-link-color: #44f;
}

.wald-grid-field-add-remove > button:hover             { background: #afa; }
.wald-grid-field-add-remove > button:first-child:hover { background: #f88; }

.wald-grid-field-inner > label { color: #666; }

/*
body { background: #000; }

body, html, input { color: #aaa }

:root {
    --wald-grid-field-border-color: #444;
    --wald-grid-field-background: #111;
}

.prototype-field-add-remove > button:hover,
.wald-grid-field-add-remove > button:hover             { background: #afa; }
.prototype-field-add-remove > button:first-child:hover,
.wald-grid-field-add-remove > button:first-child:hover { background: #f88; }

.prototype-field-inner > label,
.wald-grid-field-inner > label { color: #666; }
*/