@import "colour.css";

/* Typography and layout
 * =====================
 */

body {
    margin: 0;
    padding: 2em;
    border: 0;
}

:root {
    --wald-grid-field-height: 60px;
    --wald-grid-field-border-style: 1px solid var(--wald-grid-field-border-color);
    --wald-grid-add-remove-button-width: 40px;
    --wald-grid-field-padding: 6px;
}

body {
    font-size: 14px;
}

.wald-grid-fieldset {
    display: inline-block;
    border: var(--wald-grid-field-border-style);

    margin: 0;
    padding: 0;
}

.wald-grid-row {
    padding: 0;
    margin: 0;
    border-top: var(--wald-grid-field-border-style);
    overflow: auto;
    box-sizing: border-box;
}
.wald-grid-row:first-child { border-top: 0; }

.wald-grid-row * { box-sizing: border-box; }

.wald-grid-field {
    border: 0;
    border-left: var(--wald-grid-field-border-style);
    background: var(--wald-grid-field-background);
    float: left;
    height: var(--wald-grid-field-height);
    margin: 0;
    padding: 0;
}
.wald-grid-field:first-child { border-left: 0; }

.wald-grid-field-component {
    display: inline-block;
    border: 0;
    margin: 0;
    padding: var(--wald-grid-field-padding);
    height: var(--wald-grid-field-height);
    vertical-align: top;
}

.wald-grid-field-image-component {
    height: calc(var(--wald-grid-field-height) - var(--wald-grid-field-padding) - var(--wald-grid-field-padding));
}

.wald-grid-field-link {
    float: right;
    font-variant: normal;
}

.wald-grid-field-inputs {
    display: inline-block;
    width: 100%;
    padding: 2px;
    border: 0;
    margin: 0;
    background: inherit;
}

label.wald-grid-field-inputs { font-size: 13px; font-variant: small-caps; font-family: sans-serif; }
input.wald-grid-field-inputs { font-size: 16px; }

.wald-grid-field-add-remove {
    display: block;
    height: var(--wald-grid-field-height);
    float: right;
}

.wald-grid-field-add-remove {
    background: inherit;
}

.wald-grid-field-add-remove > button {
    width: 100%;
    height: calc(0.5 * var(--wald-grid-field-height));
    border: 0;
    background: inherit;
}

.wald-grid-field-add-remove > button:hover {
    border-left: var(--wald-grid-field-border-style);
    border-top: var(--wald-grid-field-border-style);
}

.wald-grid-field-add-remove > button:first-child:hover {
    border-left: var(--wald-grid-field-border-style);
    border-top: 0;
    border-bottom: var(--wald-grid-field-border-style);
}

/*
 * inner (deprecated)
 * ------------------------
 */

.wald-grid-field-inner {
    border: 0;
    margin: 0;
    padding: var(--wald-grid-field-padding);
    height: var(--wald-grid-field-height);
}


.wald-grid-image-field > * {
    vertical-align: top;
}

.wald-grid-image-field .wald-grid-field-inner {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: var(--wald-grid-field-padding);
}

