@import "colour.css";

/* Typography and layout
 * =====================
 */

:root {
    --prototype-field-width: 160px;
    --prototype-field-height: 60px;
    --prototype-field-border-style: 1px solid var(--wald-grid-field-border-color);
    --prototype-add-remove-button-width: 40px;
    --prototype-language-tag-width: 80px;
    --prototype-field-padding: 6px;
}

body {
    font-size: 14px;
}

fieldset.prototype {
    display: inline-block;
    border: var(--prototype-field-border-style);
    margin: 0;
    padding: 0;
}

.prototype-row {
    width: calc(6 * var(--prototype-field-width));
    padding: 0;
    margin: 0;
    border-top: var(--prototype-field-border-style);
    overflow: auto;
    box-sizing: border-box;
}

.prototype-row * {
    box-sizing: border-box;
}

.prototype-row:first-child { border-top: 0; }

.prototype-field {
    border: 0;
    border-left: var(--prototype-field-border-style);
    background: var(--wald-grid-field-background);
    width: var(--prototype-field-width);
    float: left;
    height: var(--prototype-field-height);
    margin: 0;
    padding: 0;
}

.prototype-field-inner {
    width: 100%;
    border: 0;
    margin: 0;
    padding: var(--prototype-field-padding);
    height: var(--prototype-field-height);
}

.prototype-field-inner-multi {
    width: calc(100% - var(--prototype-add-remove-button-width));
}

.prototype-field:first-child { border-left: 0; }

.prototype-field-inner > label,
.prototype-field-inner > input { display: inline-block; padding: 2px; }

.prototype-field-inner > label { font-size: 13px; font-variant: small-caps; font-family: sans-serif; }
.prototype-field-inner > input { font-size: 16px; }

.prototype-field-inner > label,
.prototype-field-inner > input {
    width: 100%;
    border: 0;
    margin: 0;
    background: inherit;
}

.prototype-field-inner-lang > label.value,
.prototype-field-inner-lang > input.value {
    width: calc(100% - var(--prototype-language-tag-width));
}

.prototype-field-inner-lang > label.language,
.prototype-field-inner-lang > input.language {
    width: var(--prototype-language-tag-width);
}

.prototype-image-field > * {
    vertical-align: top;
}

.prototype-image-field .prototype-field-inner {
    display: inline-block;
    width: 75%;
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: var(--prototype-field-padding);
}

.prototype-image-field .prototype-field-inner-multi {
    width: calc(70% - var(--prototype-add-remove-button-width));
}

.prototype-field-inner-image {
    display: inline-block;
    width: 25%;
    height: var(--prototype-field-height);
    padding: var(--prototype-field-padding);
    text-align: center;
}

.prototype-field-inner-image > img {
    max-width: calc(100% - var(--prototype-field-padding) - var(--prototype-field-padding));
    height: calc(var(--prototype-field-height) - var(--prototype-field-padding) - var(--prototype-field-padding));
}

.prototype-field[data-width='2']  { width: calc( 2 * var(--prototype-field-width)); }
.prototype-field[data-width='3']  { width: calc( 3 * var(--prototype-field-width)); }
.prototype-field[data-width='4']  { width: calc( 4 * var(--prototype-field-width)); }
.prototype-field[data-width='5']  { width: calc( 5 * var(--prototype-field-width)); }
.prototype-field[data-width='6']  { width: calc( 6 * var(--prototype-field-width)); }

.prototype-field-add-remove {
    display: block;
    height: var(--prototype-field-height);
    float: right;
}

.prototype-field-add-remove {
    background: inherit;
    width: var(--prototype-add-remove-button-width);
}

.prototype-field-add-remove > button {
    width: 100%;
    height: calc(0.5 * var(--prototype-field-height));
    border: 0;
    background: inherit;
}

.prototype-field-add-remove > button:hover {
    border-left: var(--prototype-field-border-style);
    border-top: var(--prototype-field-border-style);
}

.prototype-field-add-remove > button:first-child:hover {
    border-left: var(--prototype-field-border-style);
    border-top: 0;
    border-bottom: var(--prototype-field-border-style);
}

.prototype-field-language-tag {
    width: var(--prototype-language-tag-width);
    padding: var(--prototype-field-padding);
    padding-top: 28px;
}
.prototype-field-language-tag > select {
    width: 100%;
}
